body {
    text-align: center;
    color:#333333;
    font-family: arial;
    width: auto;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #b2ecf0;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    padding: 16px 0;
    margin-top: 16px;
    max-width: auto;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

.weather-pic {
    width: 100px;
    height: 100px;
}

.weather-pic-summary {
    width: 80px;
    height: 80px;
}

.main-content {
    flex-grow: 1;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    background: #c7f5f8;
    
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}



.main-data-view {
    padding: 100px 16px;
}

.column {
    font-weight: bold;
    float: left;
    width: 25%;
}
